<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dota.pearl17">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventsHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EventsTheme" />
        <activity
            android:name=".EventsShowMoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EventsTheme" />
        <activity
            android:name=".ClubEventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EventsTheme" />
        <activity
            android:name=".EventDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EventsTheme" />
        <activity
            android:name=".ProShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ProShowTheme" />
        <activity
            android:name=".TalksActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TalksTheme" />
        <activity
            android:name=".AppCreditsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CreditsTheme" />
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RegisterTheme" />
        <activity
            android:name=".SponsorsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SponsorsTheme" />
        <activity
            android:name=".ScheduleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ScheduleTheme" />
        <activity
            android:name=".GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GuideTheme" />
        <activity
            android:name=".AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GuideTheme" />
        <activity
            android:name=".ReachUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GuideTheme" />
        <activity
            android:name=".ContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ContactsTheme" />
        <activity
            android:name=".MapsActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".EventUpdateIntentService"
            android:exported="false"></service>
    </application>

</manifest>